.container {
  display: inline-block;
  margin: auto;
  border: none;
  border-radius: 2px;
}

.input {
  width: 400px;
  height: 20px;
  border: none;
  background-color: white;
  border-radius: 5px 0 0 5px;
  transition: width 400ms;
  font-size: 18px;
}

.button {
  height: 40px;
  width: 100px;
  color:  rgb(36, 245, 214);
  border: 2px solid  rgb(36, 245, 214);
  border-radius: 0 5px 5px 0;
  background-color: transparent;
  transition: 0.3s;
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
  
}

.button:hover, .button:focus {
  border-color: rgb(25, 6, 94);
  background-color: rgb(36, 245, 214);
  font-size: 18px;
  font-weight: 700;
  color: white;
  box-shadow: inset 500px 0 0 0 rgb(36, 245, 214);
  cursor: pointer;
}